body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}
#root {
  width: 100%;
}
main {
  margin: 0;
}
.home, .subj-page, .form, .lang-page, .signin, h2 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.form {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homeDivs {
  padding: 0;
  margin-right: 200px;
  margin-left: 200px;
}
.subj-page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  padding-left: 375px;
}
/* .inputTable {
  justify-content: center;
  align-items: center;
} */

header.navbar {
  display: flex;
  justify-content:space-between;
  width: 98.6%;
  float: left;
  align-items: center;
  color: white;
  background-color: black;
  padding: 1em;
  min-height: 2em;
}
.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
}
.navlinks {
  display: flex;

}

.daddy-font {
  background: linear-gradient(white 40%, red 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Teko', sans-serif;
  font-size: 6vmin;
}
.daddy-font > h4 {
  margin: 0;
}
.navlinks {
  font-family: 'Teko', sans-serif;
  font-size: 4vmin;
}
h2, h1 {
  margin: 0;
}
.homeDivs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding-right: 25px;
  padding-top: 25px;
}
.actualHomeDivs {
  background: linear-gradient(white 40%, red 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border: 5px solid black;
  padding: 25px;
  margin: 20px;
}
.actualHomeDivs:hover {
  height:175px;
  width:175px;
}
