body {
  margin: 0;

}

.navbar {
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  padding: 1em;
  min-height: 2em;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
}